
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>選択画面</title>
	</head>
	<body>
		<h1>欲しい付帯サービスを選んでください</h1>
		<form method="post" th:action="@{/test_credit_result}">
    	<p>
      	<input type="checkbox" name="service_id" value="1">入会キャンペーン実施中<br>
				<input type="checkbox" name="service_id" value="2">ポイント還元率が高い<br>
				<input type="checkbox" name="service_id" value="3">ネットショッピングでお得(Amazon.co.jp)<br>
				<input type="checkbox" name="service_id" value="4">ネットショッピングでお得(Yahoo!ショッピング)<br>
				<input type="checkbox" name="service_id" value="5">ネットショッピングでお得(楽天市場)<br>
				<br>
    		<input type= "submit" value=次へ進む>
    	</p>
   	</form>	
	</body>
</html>